{% extends 'layout.html' %}
{% block content %}

<div class="form-container">
    <h1 class="fs-4 mb-2 text-primary">Register To Access Premium Content</h1>
    
    <form action="" method="post">
        {{form.hidden_tag()}}
        <div>
            {{form.firstName(placeholder="First Name") }}
          
        </div>
        <div>
            {{form.lastName(placeholder="Last Name") }}
           
        </div>
        <div>
            {{form.email( placeholder="Enter Email Address") }}
           
        </div>
        <div>
            {{form.password(placeholder="Password") }}
            
        </div>
        <div>
            {{form.confirm_password(placeholder="Confirm Password") }}
            
        </div>
        {{form.submit(class="regbutton") }}
      
    </form>
</div>
{% endblock %}